.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-family: var(--font-famyly_primary);
    font-size: var();
    color: var();
    text-transform: uppercase;
}

